body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  background-color: #161616;
}

.main-container {
  width: 100%;
}
.main-container header {
  width: calc(100% - 20px);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.main-container header .fa-bars {
  font-size: 24px;
  margin-right: 20px;
}
.main-container header .logo {
  height: 24px;
}
.main-container header .logo img {
  height: 100%;
}
.main-container header .menu-list {
  display: none;
}
.main-container .container {
  position: relative;
}
.main-container .opacity {
  position: fixed;
  width: 100%;
  opacity: 0.5;
  background: black;
  z-index: 1;
  height: 100%;
  top: 0;
}
.main-container .menu-mobile-container {
  position: absolute;
  z-index: 10;
  width: 250px;
  background-color: #161616;
}
.main-container .menu-mobile-container .account {
  border-bottom: 1px solid grey;
}
.main-container .menu-mobile-container .account .user {
  background-color: grey;
  width: 135px;
  margin: 5px 0 0 20px;
  display: flex;
}
.main-container .menu-mobile-container .account .user .user-avatar {
  background-color: blue;
  width: 35px;
  height: 35px;
}
.main-container .menu-mobile-container .account .user .user-avatar img {
  width: 100%;
}
.main-container .menu-mobile-container .menu-mobile-list {
  padding: 0;
  margin: 20px;
}
.main-container .menu-mobile-container .menu-mobile-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-container .menu-mobile-container .menu-mobile-list ul li {
  font-size: 16px;
  padding: 0;
  margin: 10px 0 10px 0;
}
.main-container .index-banner-desktop {
  display: none;
}
.main-container .index-banner-mobile {
  padding: 20px;
  background-image: url(../assets-tp/black-summer-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: 0.5px solid black;
  width: calc(100% - 40px);
}
.main-container .index-banner-mobile .title {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bolder;
  color: #999;
  margin-bottom: 16px;
}
.main-container .index-banner-mobile h1 {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
}
.main-container .index-banner-mobile .button-play {
  text-decoration: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bolder;
  color: white;
  border: none;
  background-color: red;
  margin-right: 20px;
  margin-top: 20px;
}
.main-container .index-banner-mobile .button-episodes {
  text-decoration: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bolder;
  border: 0.5px solid grey;
  color: white;
  margin-top: 20px;
  background-color: rgba(24, 23, 23, 0.415);
}
.main-container .categories-title {
  padding: 10px 0 30px 20px;
}
.main-container .categories-title .categories-type {
  display: none;
}
.main-container .categories-title .categories-movie-title {
  font-size: 18px;
  font-weight: bolder;
}
.main-container .categories-container-carousel .categories-section {
  overflow: hidden;
}
.main-container .categories-container-carousel .categories-section h2 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #f2f2f2;
}
.main-container .categories-container-carousel .categories-section .slider-container {
  width: 400%;
  margin: 20px;
}
.main-container .categories-container-carousel .categories-section .slider-container .slider-carousel {
  display: flex;
}
.main-container .categories-container-carousel .categories-section .slider-container .slider-carousel .slider-img {
  width: 45%;
}
.main-container .categories-container-carousel .categories-section .slider-container .slider-carousel .slider-img img {
  width: 100%;
}
.main-container .categories-container {
  width: calc(100% - 40px);
  margin: 20px;
  overflow: hidden;
  position: absolute;
}
.main-container .categories-container .categories-section h2 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 16px;
}
.main-container .categories-container .categories-section .slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-container .categories-container .categories-section .slider .slider-img {
  margin: 0 2px 0 2px;
  margin-bottom: 5px;
  width: calc(50% - 8px);
}
.main-container .categories-container .categories-section .slider .slider-img img {
  width: 100%;
  margin-right: 5px;
  align-items: center;
}
.main-container .categories-container .categories-section .slider .caret-next-right {
  display: none;
}
.main-container .categories-container .categories-section .loading-bar {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
  .main-container header {
    width: calc(100% - 50px);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.253);
  }
  .main-container header .fa-bars {
    display: none;
  }
  .main-container header .logo {
    margin-right: 45px;
  }
  .main-container header .logo img {
    height: 100%;
  }
  .main-container header .menu-list {
    display: block;
  }
  .main-container header .menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .main-container header .menu-list ul li {
    margin-right: 18px;
    font-size: 14px;
  }
  .main-container header .menu-list ul li:hover {
    font-weight: bolder;
    color: white;
  }
  .main-container .opacity, .main-container .menu-mobile-container {
    display: none;
  }
  .main-container .index-banner {
    background-image: url(https://courseit.com.ar/static/courflix/assets/black-summer-background.jpg);
    background-size: cover;
  }
  .main-container .index-banner .index-banner-mobile {
    display: none;
  }
  .main-container .index-banner .index-banner-desktop {
    display: block;
    padding: 120px 50px 70px 50px;
    width: 400px;
  }
  .main-container .index-banner .index-banner-desktop .logo {
    height: 140px;
  }
  .main-container .index-banner .index-banner-desktop .logo img {
    height: 100%;
  }
  .main-container .index-banner .index-banner-desktop h1 {
    margin-top: 0;
    color: white;
    font-size: 20px;
    font-weight: normal;
  }
  .main-container .index-banner .index-banner-desktop .button-wrapper {
    margin: 24px 0 12px 0;
    display: flex;
    position: relative;
  }
  .main-container .index-banner .index-banner-desktop .button {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgba(31, 31, 31, 0.568);
    margin-right: 30px;
  }
  .main-container .index-banner .index-banner-desktop .button:hover {
    background-color: rgba(255, 255, 255, 0.761);
    color: black;
  }
  .main-container .categories-container-carousel .categories-section h2 {
    margin-left: 20px;
  }
  .main-container .categories-container-carousel .categories-section .slider-container {
    width: 150%;
  }
  .main-container .categories-container-carousel .categories-section .slider-container .slider-carousel .slider-img {
    margin: 0 5px;
  }
  .main-container .categories-container-carousel .categories-section .slider-container .slider-carousel .slider-img:first-of-type {
    margin-left: 0;
  }
  .main-container .categories-container-carousel .categories-section .slider-container .slider-carousel .slider-img .loading-bar {
    display: block;
    height: 3px;
    width: 90px;
    background-color: grey;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 3px;
  }
  .main-container .categories-container-carousel .categories-section .slider-container .slider-carousel .slider-img .loading-bar .loading-bar-red {
    width: 75%;
    height: 100%;
    background-color: red;
    position: absolute;
  }
  .main-container .categories-container {
    width: calc(100% - 50px);
    margin: 0 0 50px 50px;
  }
  .main-container .categories-container .categories-section {
    margin-top: 40px;
  }
  .main-container .categories-container .categories-section .slider {
    position: relative;
    flex-wrap: nowrap;
  }
  .main-container .categories-container .categories-section .slider:hover .caret-next-right {
    display: block;
  }
  .main-container .categories-container .categories-section .slider .caret-next-right {
    font-size: 36px;
    color: white;
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -21px;
    display: none;
  }
  .main-container .categories-container .categories-section .slider .slider-img img {
    width: 253px;
  }
  .main-container .categories-container .categories-section .slider .loading-bar {
    display: block;
    height: 3px;
    width: 90px;
    background-color: grey;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 3px;
  }
  .main-container .categories-container .categories-section .slider .loading-bar .loading-bar-red {
    width: 75%;
    height: 100%;
    background-color: red;
    position: absolute;
  }
  .main-container .categories-container .categories-section .slider img {
    width: 253px;
  }

  header.categories {
    position: relative;
    background-color: #161616;
  }

  .categories-title {
    padding: 10px 0 30px 50px;
  }
  .categories-title .categories-type {
    font-size: 12px;
    color: grey;
    display: inline-block;
  }
  .categories-title .categories-movie-title {
    font-size: 24px;
    font-weight: bolder;
  }
}

/*# sourceMappingURL=style.css.map */
