body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
}


.main-container {
 
  width: 100%;

  header {
    width: calc(100% - 20px);
    height:50px;
    display: flex;
    align-items: center;
    padding-left: 20px;

    .fa-bars {
      font-size: 24px;
      margin-right: 20px;

    }

    .logo {
      height:24px;
      img {
        height: 100%;
      }
    }
    .menu-list {
      display:none;
    }
  }

//---------------- site 2 - menu mobile -------------//

.container {
  position: relative;
}

.opacity{
  position: fixed;
  width: 100%;
  opacity: 0.5;
  background: black;
  z-index: 1;
  height: 100%;
  top: 0;
}

.menu-mobile-container {
  position:absolute;
  z-index: 10;
  width: 250px;
  background-color: #161616;

  .account {
    border-bottom: 1px solid grey;
  
    .user {
      background-color:grey;
      width: 135px;
      margin: 5px 0 0 20px;
      display:flex;

      .user-avatar {
        background-color:blue;
        width:35px;
        height: 35px;
        img {
          width:100%;
        }
      }
    }
  }
  
  .menu-mobile-list {
    padding: 0;
    margin:20px;
      
    ul {
      list-style: none; 
      margin:0;
      padding:0;
  
      li {
        font-size: 16px;
        padding: 0;
        margin: 10px 0 10px 0;
      }
    }
  }
}
//---------------- site 2 - menu mobile end -------------//


  .index-banner-desktop {
      display:none;

    }

  .index-banner-mobile {
    padding: 20px;
    background-image: url(../assets-tp/black-summer-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: .5px solid black;
    width:calc(100% - 40px);


    .title {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: bolder;
      color: #999;
      margin-bottom: 16px;

    }
    
    h1 {
      margin: 0;
      color: white;
      font-size: 16px;
      font-weight: normal;
    }

    .button-play {
      text-decoration: none;
      padding:8px 16px;
      font-size: 12px;
      font-weight: bolder;
      color:white;
      border: none;
      background-color: red;
      margin-right:20px;
      margin-top:20px;
      }

    .button-episodes {
      text-decoration: none;
      padding:8px 16px;
      font-size: 12px;
      font-weight: bolder;
      border: .5px solid grey;
      color: white;
      margin-top:20px;
      background-color: rgba(24, 23, 23, 0.415);
    }

  } 
  .categories-title {
    padding: 10px 0 30px 20px;

    .categories-type{
      display:none;

    }
    .categories-movie-title {
      font-size: 18px;
      font-weight: bolder;
    }
  }
  .categories-container-carousel {
  .categories-section {
    overflow: hidden;
    h2 {
      padding:0;
      margin: 0 0 5px 0;
      font-size: 16px;
      color: #f2f2f2;
    }
    .slider-container {
      width: 400%;
      margin: 20px ;
      .slider-carousel {
        display: flex;
        .slider-img {
          width: 45%;

          img {
            width: 100%;
          }
        }
      }
    }
  }
  }
  .categories-container {
    width: calc(100% - 40px);
    margin: 20px ;
    overflow:hidden;
    position:absolute;

    .categories-section {

      h2 {
        padding:0;
        margin: 0 0 5px 0;
        font-size: 16px;
      }

      .slider {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
 
        .slider-img {
          margin: 0 2px 0 2px;
          margin-bottom: 5px;
          width: calc(50% - 8px);

          img {
            width: 100%;
            margin-right: 5px;
            align-items: center;
          }
        }
      
        .caret-next-right {
          display:none;
        }

      }

      .loading-bar {
        display: none;
      }

    }
  }
}

@media (min-width: 768px)  {

.main-container{
  width: 100%;

  header {
    width: calc(100% - 50px);
    height:50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    position:absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.253);

    .fa-bars {
      display:none;
    }

    .logo {
      margin-right: 45px;
      img {
        height: 100%;
      }
    }
    .menu-list {
      display:block;
      
      ul {
        list-style: none; 
        padding: 0;
        margin: 0;
        display:flex;

        li {
          margin-right: 18px;
          font-size: 14px;
          &:hover {
            font-weight: bolder;
            color:white;
          } 
        }
      }
    }
  }

  .opacity, .menu-mobile-container{
    display: none;
  }

  .index-banner {
    background-image: url(https://courseit.com.ar/static/courflix/assets/black-summer-background.jpg);
    background-size: cover;

    .index-banner-mobile {
        display:none;
    }
  
    .index-banner-desktop {
      display:block;
      padding: 120px 50px 70px 50px;
      width: 400px;


      .logo {
        height:140px;
        img {
          height:100%;
        }
      }
      
      h1 {
        margin-top:0;
        color: white;
        font-size: 20px;
        font-weight: normal;
      }

      .button-wrapper {
        margin: 24px 0 12px 0;
        display: flex;
        position:relative;
      }

      .button{
        text-decoration: none;
        padding:10px 30px;
        font-size: 14px;
        font-weight: bolder;
        color:white;
        border: none;
        border-radius: 2px;
        background-color: rgba(31, 31, 31, 0.568);
        margin-right: 30px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.761);
          color: black;
        }
      }
    }
  }

  .categories-container-carousel {
    .categories-section {
      h2 {
        margin-left: 20px;
        
      }
      .slider-container {
        width: 150%;
        .slider-carousel {
          .slider-img {
            margin: 0 5px;
            &:first-of-type {
              margin-left: 0;
            }
                         
            .loading-bar {
              display: block;
              height: 3px;
              width: 90px;
              background-color: grey;
              position: relative;
              text-align: center;
              margin:auto;
              margin-top: 3px;

              .loading-bar-red {
                width:75%;
                height: 100%;
                background-color: red;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
  .categories-container {
    width: calc(100% - 50px);
    margin: 0 0 50px 50px;
    .categories-section {
      margin-top: 40px;
      .slider {
        position: relative;
        flex-wrap:nowrap;
        
        &:hover {
          .caret-next-right {
            display: block;
          }
        }
        .caret-next-right {
          font-size:36px;
          color:white;
          display: block;
          position: absolute;
          right: 5px;
          top: 50%;
          margin-top:-21px;
          display: none;
        }
        .slider-img {
          img {
            width: 253px
          }
        }
        
      
      .loading-bar {
        display: block;
        height: 3px;
        width: 90px;
        background-color: grey;
        position: relative;
        text-align: center;
        margin:auto;
        margin-top: 3px;

        .loading-bar-red {
          width:75%;
          height: 100%;
          background-color: red;
          position: absolute;
        }
      }
          img {
            width: 253px
          }
        }
        
      }
   
      }
    }  

    header.categories {
      position: relative;
      background-color: rgb(22, 22, 22);
  
    }
  
  .categories-title {
    padding: 10px 0 30px 50px;
  
    .categories-type{
      font-size: 12px;
      color: grey;
      display: inline-block;
  
    }
    .categories-movie-title {
      font-size: 24px;
      font-weight: bolder;
    }
  }
  }


